<div id="footer">
            
 <div class="reseaux">
                <a href="https://www.facebook.com/charavoilepicardie" target="_blank" class="fab fa-facebook-square"></a>
                <a href="https://www.youtube.com/watch?v=suYScmKY7os" target="_blank" class="fab fa-youtube-square"></a>
                <a href="https://www.instagram.com/eoliapicardie/?hl=fr" target="_blank" class="fab fa-instagram-square"></a>
            </div>
            <nav class="navfooter">
                <ul class="légales">
                    <li><a href="politique-confidentialite.php">POLITIQUE DE CONFIDENTIALITÉ</a></li>
                    <li><a href="mentions-legales.php">MENTIONS LÉGALES</a></li>
                    <li><a href="cgv.php">CGV</a></li>
                </ul>
            </nav>           
        </div>
	
		
