{% extends 'base.html.twig' %}

{% block title %}toutes les séances{% endblock %}

{% block body %}
<main class="container">
   <section class="row">
        <div class="col-12">
          <h1> Toutes les séances</h1>
       <label class="label" for="recherche">Cliquez dans la barre de recherche ci dessous pour trouver la date de votre séance: </label><!-- Notre champ de recherche avec un id-->
            <input type="date" name="recherche" id="search" value="<?= date('Y-m-d H:i:s') ?>"  required pattern="\d{4}-\d{2}-\d{2}"/>
           
         <div id="result">  {% for calendar in calendars %}
           <div class="container">
             <div class="row align-items-start"> 
                {{ calendar.start }}
             </div>
          </div>
           
          {% endfor %}  </div>
       </div>           
   </section>
</main>

 

{% endblock %}