{% extends 'base.html.twig' %}

{% block title %}Reinitialisation{% endblock %}

{% block body %}


    <h1>Reinitialisation</h1>

    {{ form_start(requestPassForm) }}

    {{ form_row(requestPassForm.email) }}

    <button type ="submit"> Valid </button>
   
     {{ form_end(requestPassForm) }}
{% endblock %}
