{% extends 'base.html.twig' %}

{% block title %}Reinitialisation{% endblock %}

{% block body %}


    <h1>Nouveau mot de passe</h1>

    {{ form_start(passForm) }}

    {{ form_row(passForm.password) }}
    <button type="submit">Envoyer</button>
   
     {{ form_end(passForm) }}
{% endblock %}
