{% extends 'base.admin.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <h1>Créer une nouvelle séance</h1>

    {{ include('admin/calendar/_form.html.twig') }}

    <a href="{{ path('admin_calendar_index') }}">Retour à la liste</a>
{% endblock %}
