

 
header .dropdown-1 {
    position:relative;
    height:100%;
    display:flex;
    justify-content: center;  
    flex-direction: column;   
}

header .dropdown-1:hover .content{
   
    
 }
header .dropdown-1:hover .content{
    display:flex;
    flex-direction:column;
    position:relative;
    width:100%;
    background-color:#ffffff;
    padding:1em 2em;
    top:0;

}
header .dropdown-1 {
    position:relative;
    height:100%;
    display:flex;
    justify-content: center;
    
    
} 


header {
    width:100%;
    min-height: 70px;;
    height:100%;
    background-color:#eaf4fe;
    align-items:center;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}  


  header > a, header button {
    color:#000000;
    margin: 0 15px;
    font-size: 1.3rem;
    display:none;
    text-decoration: none;
}
header button {
    background-color:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}

header .dropdown-1 {
    position:relative;
    height:100%;
    display:flex;
    
    
    
} 
header .dropdown-1 .content {
    display:none;
    
}


header .content a {
    color:black;
    text-decoration: none;

}
#navbar > a.icon {
    display:block;
    position:absolute;
    font-size: 2.5rem;
    right:0;
    text-align: center;
    width:5% !important;
    top:10px;

}
header.responsive > a,
header.responsive button
 {
  display:block;
  padding:1rem 0;
  width:100%;
  text-align: left;
  
}


@media screen and (min-width:1200px) {
    #navbar > a.icon {
            display:none;
        }
        header > a {
         
            display:block;
          }
          header button {
           
           display:block;
        }

        header {
            flex-direction: row;
            height: 70px;
            align-items: center;
        }  

        header .dropdown-1:hover .content{
            display:block;
            display:flex;
            flex-direction:column;
            position:absolute;
            background-color:#ffffff;
            top:70px;
            width:120%;
            padding:1em 2em;
            /* inclure le rembourrage et la bordure dans la largeur et la hauteur totales d'un élément*/
            box-sizing: border-box;
            color:black;
        }


     
  


       
        
    }