<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous"> 






       {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
	

        {# defer permet le chargement js en dernier #}<script src="{{ asset('assets/js/menu.js') }}" defer> </script>

    </head>
    <body>

	{% include "_partials/_nav.html.twig" %}
<main class="container">
{% for rubrique, messages in app.flashes  %}
			
				<div class="flashalert-{{ rubrique }}">
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
     
         

			{% endfor %}

        {% block body %}{% endblock %}
</main>
	{% include "_partials/_footer.html.twig" %}

   <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script> 






        {% block javascripts %}{% endblock %}
    </body>
</html>