{% extends 'basetest.html.twig' %}

{% block title %}Hello TestmenuController!{% endblock %}

{% block body %}
<div class="conteneur">
  <p>Du contenu sous le menu</p>
</div>
 <script src="/assets/js/menu.js"> </script> 
{% endblock %}
