{% extends 'base.html.twig' %}

{% block title %}Exception{% endblock %}

{% block body %}
<main class="container">
{# https://127.0.0.1:8000/index.php/_error/403  #}
   <h1>Page non accessible</h1>
     <p> Cette page ne vous est pas autorisée  </p>
     <p> Ce contenu est réservé aux administrateurs du site </p>
   
</main>
{% endblock %}
