{% extends 'base.html.twig' %}

{% block title %}Exception{% endblock %}

{% block body %}
<main class="container">
{# https://127.0.0.1:8000/index.php/_error/404  #}
   <h1>Page Non trouvée</h1>
     <p> Cette page n'existe pas </p>
   
</main>
{% endblock %}
